body {
  margin: 0;
  font-family: sans-serif;
  background-color: #d2ae6d; }
  body header {
    width: 100%;
    background-color: #d2ae6d; }
    body header #btn-menu {
      display: none; }
    body header label {
      display: none;
      width: 30px;
      height: 30px;
      padding: 10px; }
    body header .logo {
      position: relative;
      top: 30px;
      left: 30px; }
    body header label:hover {
      cursor: auto;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      left: 5px; }
    body header .menu ul {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: end;
      position: relative;
      top: 0px;
      left: -30px; }
    body header .menu li {
      border-right: #936a1f;
      border: 1px solid #fff;
      padding: 5px;
      margin: 5px; }
  @media screen and (max-width: 768px) {
    body header label {
      display: block; }
    body header .menu {
      position: relative;
      width: 40%;
      margin-left: -40%;
      transition: all 0.5s;
      transition-delay: .1; }
      body header .menu ul {
        flex-direction: column;
        position: relative;
        display: flex;
        top: 70px;
        left: 0px; }
        body header .menu ul li {
          border-top: 1px solid #fff;
          align-items: center;
          justify-content: end; }
    body header #btn-menu:checked ~ .menu {
      margin: 2%; }
    body header .logo {
      display: block;
      margin: 0px auto;
      left: 0px;
      top: 30px; } }

body {
  *margin: 0;
  background-color: #d2ae6d; }
  body main .contenedor-nosotros {
    background-color: #d2ae6d; }
  body main .contenedor-articulos {
    background-color: #fff;
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: center;
    padding: 3%;
    margin: 3%; }
    body main .contenedor-articulos .article-uno {
      width: 300px;
      border: 10px;
      margin: 3%; }
      body main .contenedor-articulos .article-uno .titulo-articulo {
        display: flex;
        justify-content: center;
        font-family: "joan 400", sans-serif; }
      body main .contenedor-articulos .article-uno .parrafo-1 {
        display: flex;
        justify-content: center;
        font-family: "joan 400", sans-serif; }
  body main .contenedor-img .img-estudio hover {
    filter: opacity(0.5); }
  body main .contenedor-img .contenedor-texto {
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "h1-img-estudio h1-img-estudio" "section-img-estudio section-img-estudio"; }
    body main .contenedor-img .contenedor-texto .h1-img-estudio {
      grid-area: h1-img-estudio;
      text-align: center; }
    body main .contenedor-img .contenedor-texto .section-img-estudio {
      grid-area: section-img-estudio;
      text-align: center; }
  body main .contenedor-preguntas {
    background-color: #fff;
    width: 90%;
    max-width: 1500px;
    margin: 20px auto;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: " pregunta-1 pregunta-2"; }
    body main .contenedor-preguntas .pregunta-1 {
      grid-area: pregunta-1;
      background-color: #b09b9b; }
      body main .contenedor-preguntas .pregunta-1 h3 {
        text-align: center;
        font-family: "joan 400", sans-serif; }
    body main .contenedor-preguntas .pregunta-2 {
      grid-area: pregunta-2; }
      body main .contenedor-preguntas .pregunta-2 h3 {
        text-align: center;
        font-family: "joan 400", sans-serif; }
      body main .contenedor-preguntas .pregunta-2 section {
        align-items: center;
        text-align: center; }
      body main .contenedor-preguntas .pregunta-2 p {
        text-align: center; }
    @media screen and (max-width: 768px) {
      body main .contenedor-preguntas {
        grid-template-areas: "pregunta-1 pregunta-1" "pregunta-2 pregunta-2"; } }
  body main .formulario {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly; }
    body main .formulario .texto-formulario {
      display: flex;
      justify-content: center; }
    body main .formulario .cuadro-nombre {
      display: flex;
      justify-content: center; }

footer {
  background-color: #d2ae6d; }
  footer .contenedor-footer {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly; }
    footer .contenedor-footer .ul-iconos-redes {
      list-style-type: none;
      display: flex;
      justify-content: center; }
    footer .contenedor-footer .redes {
      display: flex;
      justify-content: center; }

.red-twitter {
  color: #002; }

.red-facebook {
  color: #4d0d2e; }

.red-instagram {
  color: #002; }

.menu.ul, .li {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: end;
  position: relative;
  top: -60px;
  left: -30px; }

.li {
  border-right: #d2ae6d;
  border: 1px solid #fff; }

.contenedor-footer {
  height: auto;
  width: auto;
  margin: auto; }
